.toggle-block__selector > div {
  vertical-align: middle;
  display: inline-block;
  padding: 1% 0 1% 0;
  outline: none;
  border: none;
  width: 90%;
}

.toggle-block__icon > svg {
  vertical-align: top;
  width: 34px;
  height: 34px;
}

.toggle-block__icon:hover {
  color: #388ae5;
  cursor: pointer;
}

.toggle-block__item,
.toggle-block__content-default {
  margin-left: 34px;
}

.toggle-block__content-default {
  color: gray;
  border-radius: 5px;
}

.toggle-block__content-default:hover{
  cursor: pointer;
  background: rgba(55, 53, 47, 0.08);
}

.toggle-block__selector br {
  display: none;
}

.toggle-block__input:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}
